# Django
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.pyc
*.env

node_modules

# Local development settings
local_settings.py

# Media files
media/

# Database
db.sqlite3

# Logs
*.log

# Editor-specific files
.vscode/

# Other
*.DS_Store
*.pyc
*.bak
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
[*.pyc]
__pycache__/
*.so
